<div class="row">
    <div class="span6">
        <h1>About</h1>

        <p><em>Markdown Journal</em> is an open source, web based journaling application that integrates with the <a href="htpp://dropbox.com">Dropbox</a> cloud service.</p>

        <p>The project was written in <a href="http://rubylang.org">Ruby</a> programming language and runs on the <a href="http://www.sinatrarb.com/">Sinatra</a> framework.</p>

        <p>The Dropbox integration is accomplished via the official <a href="https://rubygems.org/gems/dropbox-sdk">Dropbox-SDK Gem</a>.</p>

        <p>Journal entries are saved in the <a href="http://daringfireball.net/projects/markdown/">Markdown</a> file format.</p>
    </div>

    <div class="span6">
        <h2>Licensing</h2>

        <p><em>Markdown Journal</em> is distributed under the <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GPLv3</a> license.
    </div>

    <div class="span6">
        <h2>Source Code</h2>
        <p>The source code is <a href="https://github.com/maciakl/MarkdownJournal">available at Github</a>.</p>
    </div>
</div>
