<div class="row">
    <div class="span6">
        <h2>About</h2>

        <p><em>Markdown Journal</em> is an open source, web based journaling application that integrates with the <a href="htpp://dropbox.com">Dropbox</a> cloud service.</p>

        <p>The project was written in <a href="http://rubylang.org">Ruby</a> programming language and runs on the <a href="http://www.sinatrarb.com/">Sinatra</a> framework.</p>

        <p>The Dropbox integration is accomplished via the official <a href="https://rubygems.org/gems/dropbox-sdk">Dropbox-SDK Gem</a>.</p>

        <p>Journal entries are saved in the <a href="http://daringfireball.net/projects/markdown/">Markdown</a> file format.</p>
    </div>

    <div class="span6">
        <h2>Licensing</h2>

        <p><em>Markdown Journal</em> is distributed under the <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GPLv3</a> license. The source is provided as is with no guarantees.</p>

        <p>The <em>markdownjournal.com</em> service does not guarantee data integrity. Your files are not parsed or verified, and while this software shouldn't mangle or destroy your entries it may happen. By using this service you agree that you will not hold the author of the software responsible for any data loss.</p>
    </div>

</div>

<div class="row">
    <div class="span6">
        <h2>Ready for Mobile</h2>

        <p><em>Markdown Journal</em> will work seamlessly on your phone:</p>

        <img src="img/mobile.png"/>
    </div>
    <div class="span6">
        <h2>Source Code</h2>
        <p>The source code is <a href="https://github.com/maciakl/MarkdownJournal">available at Github</a>.</p>

        <img src="img/code.PNG"/>
    </div>
</div>

