<div class="row">

    <div class="span6">
        <h2>Configuration</h2>

        <p><em>Markdown Journal</em> creates journal files using pre-set default headings. 
        These headings can be seen in the image below:</p>

        <img src="img/text2.PNG" alt="Sample Text"/>

        <p>These headings are added automatically as you write your entries. They have following names:</p>

        <ul>
            <li><code style="color: blue;">document_heading</code> - marked in blue is added at the start of a new document.</li>
            <li><code style="color: green;">daily_heading</code> - marked in green is added at the start of a new day</li>
            <li><code style="color: purple;">timestamp</code> - marked in pink is attached to every entry</li>
        </ul>

        <p>You can redefine these headings using a config file.</p>

    </div>

    <div class="span6">
        <h2>Config File</h2>

        <p>To create a new config file simply put a file named <code>config.yml</code> in the same Dropbox
        folder as your journal entries like this:</p>

        <img src="img/configfile.PNG" alt="Dropbox Screenshot"/>

        <p>The contents of the file should be valid YAML syntax and include an entry for each heading:</p>

        <img src="img/config.PNG" alt="Sample Config File"/>

        <p>The values should follow the formating guidelines for the 
        <a href="http://www.ruby-doc.org/core-2.0/Time.html#method-i-strftime">Ruby strftime method</a>.</p>

        <p><span class="label label-warning">Caution!</span><br/> 
        If you change the config file in the middle of the day, it could cause the
        <code>daily_heading</code> to get re-inserted into the file at the next entry.</p>

    </div>

</div>

<div class="row">

    <div class="span6">
        <h2>Acceptable Config Values</h2>

        <p>You can use the following symbols in the config file:</p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Value</th>
                    <th>Explanation</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>%Y</td><td>4 digit year (eg. 2013)</td></tr>
                <tr><td>%y</td><td>2 digit year (74, 98, etc..)</td></tr>
                <tr><td>%m</td><td>Month number, zero padded (01-12)</td></tr>
                <tr><td>%B</td><td>Full month name (January)</td></tr>
                <tr><td>%b</td><td>Abbreviated month name (Jan)</td></tr>
                <tr><td>%b</td><td>Abbreviated month name (Jan)</td></tr>
                <tr><td>%d</td><td>Day of the month, zero padded (01-31)</td></tr>
                <tr><td>%e</td><td>Day of the month, blank padded ( 1-31)</td></tr>
                <tr><td>%H</td><td>Hour, 24hr format, zero padded (00-23)</td></tr>
                <tr><td>%k</td><td>Hour, 24hr format, blank padded ( 0-23)</td></tr>
                <tr><td>%I</td><td>Hour, 12hr format, zero padded (01-12)</td></tr>
                <tr><td>%i</td><td>Hour, 12hr format, blank padded ( 1-12)</td></tr>
                <tr><td>%P</td><td>Meridian, lowercase (am, pm)</td></tr>
                <tr><td>%p</td><td>Meridian, uppercase (AM, PM)</td></tr>
                <tr><td>%M</td><td>Minutes, zero padded (00-59)</td></tr>
                <tr><td>%S</td><td>Seconds, zero padded (00-59)</td></tr>
                <tr><td>%L</td><td>Milliseconds, zero padded (000-999)</td></tr>
                <tr><td>%A</td><td>Weekday, full name (Monday)</td></tr>
                <tr><td>%a</td><td>Weekday, abbreviated (Mon)</td></tr>
                <tr><td>%D</td><td>Short date (02/28/13)</td></tr>
                <tr><td>%F</td><td>ISO 8601 date (2013-02-28)</td></tr>
                <tr><td>%r</td><td>12 hour time with seconds (01:30:10 PM)</td></tr>
                <tr><td>%R</td><td>24 hour time without seconds (13:30)</td></tr>
                <tr><td>%T</td><td>24 hour time with seconds (13:30:10)</td></tr>
            </tbody>
        </table>

        <h3>Timezone Settings</h3>

        <p>You can also set your timezone using a <code>timezone</code> setting. The timezone accepts
        values like:</p>
    
            <ul class="muted">
                <li>America/New_York</li>
                <li>America/Los_Angeles</li>
                <li>America/Chicago</li>
                <li>America/Detroit</li>
                <li>America/Denver</li>
                <li>Etc..</li>
            </ul>

            <p>Full list of acceptable values is <a href="https://github.com/maciakl/MarkdownJournal/wiki/Timezones">located here</a>.</p>
    </div>

    <div class="span6">
        <h2>Examples</h2>

        <p>You can combine the listed symbols to create any heading you want. Note that you
        can add formating characters between these symbols for example you could try keeping
        your <code>config.yml</code> very simple:</p>

        <pre>
    document_heading: %Y-%m
    daily_heading: %d
    timestamp: %R </pre>

        <p>This would yield a very minimalistic Journal style:</p>

        <img src="img/samp1.PNG" alt="Minimalistic Journal"/>

        <p>Alternatively, you could get very fancy:</p>

        <pre>
    document_heading: Journal Entries for %B of %Y
    daily_heading: Notes for %A, %e
    timestamp: Posted at %r </pre>

        <p>This would likely look something like this:</p>

        <img src="img/samp2.PNG" alt="Fancy Journal"/>

        <h3>Timezone</h3>

        <p>To change the time zone, simply include it in <code>config.yaml</code> like this:</p>

        <pre>
    timezone: America/Los_Angeles</pre>

        <p>If you only wish to change the <code>timezone</code> setting, you don't have to redefine the headings.
        Just skip them entirely if you wish.</p>

        <p><span class="label label-info">Note!</span><br/> 
        If the <code>timezone</code> setting is not one of the 
        <a href="https://github.com/maciakl/MarkdownJournal/wiki/Timezones">recognized values</a> then <em>Markdown Journal</em>
        will fall back on using Eastern Standard time.</p>

        <p><span class="label label-important">Caution!</span><br/>
        If you are currently using a config file, please note that the time zone strings have recently changed. If you are using 
        a string such as <em class="text-error">Eastern Time (US & Canada)</em> please change it to <em class="text-success">America/New_York</em> 
        to avoid problems.</p>

        <h3>Reset to Defaults</h3>

        <p>To reset your headings back to the default, simply delete the 
        <code>config.yml</code> file from your dropbox folder.</p>

        <p>Please be aware that this may cause the <code>daily_heading</code> to be re-inserted into your file next time you post
        an entry. Simply delete it manually.</p>

    </div>

</div>
