<div class="row">

    <div class="span6">
        <h1>Support</h1>

        <p>If you encounter a problem with the service, discover a bug or you have a feature request, please create a bug report in the official issue tracker at GitHub.</p>

        <a class="btn btn-large pull-right" href="https://github.com/maciakl/MarkdownJournal/issues"><i class="icon-fire"></i> Issue Tracker</a>
    </div>
</div>
