<div class="row">
   
    <div class="span6">
        <h2>Get Support</h2>

        <p>If you encounter a problem with the service, discover a bug or you have a feature request, please create a bug report in the official issue tracker at GitHub.</p>

        <a class="btn btn-large" href="https://github.com/maciakl/MarkdownJournal/issues"><i class="fa fa-bug"></i> Report a Bug or Request a Feature</a>
    </div>

    <div class="span6">
        <h2>Contact the Author</h2>

        <p>Contact the author of this project at:</p>

        <p>
         <i class="icon-globe"></i> <a href="http://maciak.net">maciak.net</a><br>
         <i class="fa fa-twitter"></i> <a href="http://twitter.com/LukeMaciak">@LukeMaciak</a><br>
         <i class="icon-envelope"></i> <img style="width: 145px; height: 25px;" src="img/eml.PNG" alt="spam obfuscated email"><br>
         </p>


    </div>
</div>
