<div class="row">
    <div class="span10">
        <h1>Journal</h1>
        
        <p>Markdown Journal is a simple journal that uses Dropbox as back end storage and saves to Markdown.</p>

        <a class="btn btn-primary" href="/write">Create Journal Entry</a>
    </div>
</div>
