<div class="row">
    <div class="span10">
        <h1>Markdown Journal</h1>
        
        <p>Markdown Journal is a simple journal that uses Dropbox as back end storage and saves to Markdown.</p>

    </div>
</div>
