<div class="row">
    <div class="span10">
        <h1>Markdown Journal</h1>
        
        <p>Markdown Journal is a simple journal that uses Dropbox as back end storage and saves your entries as <img src="mkd.png" alt="Markdown"/>
        Markdown files.</p>
    </div>
</div>
<div class="row">

    <div class="span6">
        <h2>Your Journal is Your Own</h2>

        <p>You are in full control of your journal. All the entries are stored in your personal Dropbox <em>forever</em>. If at some point you
        decide to stop using <em>Markdown Journal</em> you get to keep all your entries. There is no export function, because your work is always
        going to be in your Dropbox, as plain text files.</p>

        <h2>Dropbox Integration</h2>

        <p>You don't need to sign up. If you have a Dropbox account you can hit <em>Write</em> and begin to take notes immediately.</p>
            
        <p>If you haven't logged in in a while Markdown Journal will ask to connect with your Dropbox account:</p>

        <img src="img/dropbox.PNG" alt="Dropbox Authorization" class="img"/>

        <p>Hit <em>Allow</em> to write, or deny if you're sick of the service.</p>
    </div>

    <div class="span6">

        <h2>Storage and File Management</h2>

        <p>Your entries are be saved to the <code>App/Markdown Journal</code> folder:</p>

        <img src="img/files.PNG" alt="Files" class="img"/>

        <p>A new file is started each month. You can edit any of these files directly with a text editor if you wish. You can delete or
        rename them at any time. <em>Markdown Journal</em> won't care and will continue working regardless of what you do with the files.</p>

        <h2>Markdown Support</h2>

        <img src="/mkd-logo.png" alt="We Love Markdown!" class="img pull-left" style="margin-right: 10px; "/>

        <p>Here at <em>Markdown Journal</em> we think Markdown is great (if you haven't figured it out already from the name) and so we use
        it everywhere.</p>
        
        <p>Use markdown in the entry text box, and your work will be saved to a markdown file.</p>

        <p cass="clearfix">The file that is saved to your <em>Dropbox</em> will look like this:</p>

        <img src="img/text.PNG" alt="Markdown" class="img"/>

    </div> 

</div>
