<div class="row">
    <div class="span10">
        <h1>Markdown Journal</h1>
        
        <p>Markdown Journal is a simple journal that uses Dropbox as back end storage and saves your entries to Markdown files.</p>
    </div>
</div>
<div class="row">

    <div class="span6">
        <h2>Dropbox Integration</h2>

        <p>When you click on the <em>Write</em> button Markdown Journal will ask you to connect to you Dropbox account:</p>

        <img src="img/dropbox.PNG" alt="Dropbox Authorization" class="img"/>

        <p>Please make sure you hit <em>Allow</em> in order to continue.</p>
    </div>

    <div class="span6">

        <h2>Storage and Markdown</h2>

        <p>Your journal entries will be saved to the <samp>App/Markdown Journal</samp> folder. Separate file will be created for each 
        month:</p>

        <img src="img/files.PNG" alt="Files" class="img"/>

        <p>The files are formatted as Markdown documents:</p>

        <img src="img/text.PNG" alt="Markdown" class="img"/>

    </div> 

</div>
