<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Markdown Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Bootstrap styles -->
    <link href="/components/bootstrap/css/bootstrap.css" rel="stylesheet"/>

    <!-- Your Custom styles go here-->
    <style type="text/css">

      body {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .multicolumn {
        -moz-column-count: 3; 
        -moz-column-gap: 5px;
        -webkit-column-count: 3; 
        -webkit-column-gap: 5px;
        column-count: 3;
        column-gap: 5px;
    }

    div.journal h1 {
        text-align: right;
        font-size: 60px;
        padding-bottom: 10px;
    }
    div.journal h2 {
        border-top: 1px solid black;
    }

    </style>

    <link href="/components/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Add your own favicon -->
    <link rel="shortcut icon" href="/favicon.png"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="29x29" href="/apple-touch-icon-29x29.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png" />
</head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
            <a class="brand" href="/">
              <img src="/icon.png" alt="logo"/>
            Markdown Journal</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/config">Configuration</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        
        <div class="row">
            <div class="span12">
                <% if @blink != nil %>
                    <a class="btn btn-large pull-right <%=@bclass%>" href="<%=@blink%>"><%=@btext%></a>
                <% end %>
            </div>
        </div>

        <%= yield %>

      <hr/>

      <footer>
        <p>&copy; Luke Maciak 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- JavaScript Stuff
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Add your custom scripts here -->
    <script>

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-38959340-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>

  </body>
</html>
