<div class="row">
   
    <div class="span6">
        <h2>Bye!</h2>

        <p>Don't forget to log out of dropbox.</p>

        <p> <a class="btn btn-large btn-primary" href="https://www.dropbox.com/logout"><i class="fa fa-dropbox"></i> Log Out of Dropbox</a>

    </div>

    <div class="span6">
    </div>
</div>
