<div class="row">
   
    <div class="span6">
        <h2>What's New</h2>

        <p>Below you can find notifications about site changes and updates.</p>

        <h4>May 2017</h4>

        <p>The site was updated to use Dropbox API v2 due to the fact that 
        <a href="https://blogs.dropbox.com/developers/2016/06/api-v1-deprecated/">API v1</a> is now
        deprecated and due to be shut down in June.</p>

        <p>Following additional changes were made as part of this upgrade:</p>

        <ul>
          <li>The file operations are now done completely in memory with no temp files saved to disk for improved privacy.</li>
          <li>Improved login will remember you as long as you remain logged into your Dropbox account. No need to re-authorize every time.</li>
          <li>Logout button now logs you out of dropbox as well. This is to ensure you don't leave a dangling login behind 
          (for example when using a public machine).</li>
          <li>The site was moved to a new host and is using new SSL cert</li>
        </ul>

    </div>

    <div class="span6">
    </div>
</div>
