<div class="row">
    <div class="span10">
        <h2>New Entry</h2>
        
        <form method="post">
            <fieldset>
                <legend>What is on your mind?</legend>
                <label>Each entry will be posted with current time-stamp. Create short, Twitter style updates throughout the day.</label>
                <textarea id="entry" name="entry" rows="10" class="field span8" placeholder="Dear diary..."></textarea><br/>
                <button type="submit" class="btn btn-large btn-primary"><i class="icon-check icon-white"></i> Submit</button>
            </fieldset>
        </form>


    </div>
</div>
