<div class="row">
    <div class="span10">
        <h2>New Entry</h2>
        
        <form method="post">
            <fieldset>
                <legend>What is on your mind?</legend>
                <label>Each entry will be posted with current time-stamp. <img src="mkd.png" alt="Markdown" titld="Markdown"/>
                        Markdown formatting is supported.</label>
                <textarea id="entry" name="entry" rows="10" class="field span8" placeholder="Dear diary..."></textarea><br/>
                <input id="saved" name="saved" type="hidden" value="<%= @saved %>"/>
                <button type="submit" class="btn btn-large btn-primary"><i class="icon-check icon-white"></i> Submit</button>
            </fieldset>
        </form>


    </div>
</div>
<div class="row">
    <div class="span10">
        <h2>Previous Entries</h2>
        <p>Click on the links below to read your existing journal entries.</p>
        <ul class="multicolumn">
        <% @files.reverse.each do |file| %>
            <% if (file['path'] =~ /^\/[0-9]*-[0-9]*\.[A-Za-z]*\.markdown$/) == 0 %>
                <li>
                    <a href="/read<%= file['path'] %>">
                        <%= file['path'][/\.([A-Za-z]*)\.markdown/, 1][0,3] +'  '+ file['path'][1,4] %>
                    </a>
                </li>
            <% end %>
        <% end %>
        </ul>

        <p><small><span class="label label-info">Note:</span> &nbsp; None of these pages are ever cached</small></p>
    </div>
</div>
